th {
  background-color: #212529;
  color: white;
  padding-block: 12px;
  text-align: center;
}

.dark th {
  background-color: #1e293b;
}

#app {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  & > :nth-child(2) {
    &:not(.loader) {
      flex: 1;
    }
  }

  &:has(> .loader) {
    justify-content: center;
  }
}

.h2 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.h6 {
  font-size: 1rem;
  font-weight: 600;
}

$transition: all 0.3s ease-in-out;

@keyframes skeleton-loading {
  0% {
    background-color: #e2e8f0;
  }

  100% {
    background-color: #f8fafc;
  }
}
