.loader,
.loader:after {
  border-radius: 50%;
  width: var(--loader-size, 10em);
  height: var(--loader-size, 10em);
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: var(--loader-thickness, 1.1em) solid var(--loader-color, #212529);
  border-top-color: var(--loader-highlight-color, #f8f9fa);
  animation: load8 1.1s infinite linear;
}

.dark .loader {
  border-color: var(--loader-color, black);
  border-top-color: var(--loader-highlight-color, #f8f9fa);
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
