.product-list {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem auto;
  }

  &__content {
    text-align: center;
  }

  &__heading {
    @include headings-style;
  }
}

.product-list-upload {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20em;
}

.product-list-img {
  height: 75px;
}

.options-container {
  padding: 0rem 0.5rem 1rem 0;
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 1800px) {
  .product-list-img {
    height: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .product-list-img {
    height: 25px;
  }
}
