.catalog-grid {
  overflow-y: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.dark .search-text {
  color: black;
}

.search-container {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.dark .accordion-item {
  background-color: black !important;
}

.dark .accordion-button {
  color: white;
  background-color: #495057;
}

.dark .accordion-button:not(.collapsed) {
  color: white;
  background-color: #495057;
}

.sort-by-container {
  padding: 1.5rem 0.5rem 1rem 0;
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 600px) {
  .search-container {
    width: 90%;
  }
}

/**homepage styles**/

.homepage {
  margin: 1rem;

  &__heading {
    margin-block: 1rem;
    font-weight: 700;
    text-align: center;
  }

  &__search {
    display: flex;
    justify-content: center;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &-button {
      > span {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .homepage {
    &__search {
      &-button {
        > span {
          display: initial;
        }
      }
    }
  }
}
