.nav-footer {
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  gap: 2.5rem;
}

.nav-footer-container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.nav-footer-link {
  color: white;
}
