@import 'antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: black;
  color: white;
}

.text-white {
  color: white;
}

a {
  text-decoration: none !important;
}
